body {
  margin: 0 !important;
  padding: 0 !important;
  background: #1E2A38;
  height: 100%;
  
}

p {
  line-height: 1.6;
  font-size: 1.2rem;
  color: #E0E0E0;
}

.grafico {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  gap: 20px; 
  padding: 40px;;
  background: linear-gradient(135deg, #11161a 0%, #253269 50%, #1b8c8c 100%);
  border-radius: 10px;
  border: 2px solid #2F3E4E; 
  
}
.grafico-barras-fondo {
  background-color: #181e25;
  padding: 40px;
  border-radius: 16px;
  
}

.titulo {
  color: aliceblue;
  font-size: 50px;
  font-weight: bold;
  margin: 5px;
}

.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  grid-template-rows: 1fr; 
  height: 100vh;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.left-section {
  display: flex;
  flex-direction: column;
}

.grafico {
  text-align: center;
  margin: 20px;
}

.nivel-calidad {
  
  color: aliceblue;
  margin: 30px;
  background: linear-gradient(135deg, #11161a 0%, #253269 50%, #1b8c8c 100%);
  border-radius: 20px;
   border: 2px solid #2F3E4E; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px
}

.nivel-calidad h2 {
  color: aliceblue;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}


.veredicto {
  font-size: 2.5rem; 
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  padding: 10px;
  border-radius: 10px;
}

.veredicto.buena {
  background-color: #4b8f57c5;
  border: 1px solid #52B788;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f3dfdf;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  border-radius: 10px;
}

.veredicto.moderada {
  background-color: #ccb366;
  border: 1px solid #ff9900;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f3dfdf;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  border-radius: 10px;
}

.veredicto.mala {
  background-color: #852828c5;
  border: 1px solid #ff0000;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f3dfdf;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  border-radius: 10px;
  
}

.descripcion {
  color: aliceblue;
  margin: 40px;
  background: linear-gradient(135deg, #11161a 0%, #253269 50%, #1b8c8c 100%);
  padding: 30px;
  padding: 40px;
  border-radius: 20px;
  border: 2px solid #2F3E4E; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  
}

.descripcion h2 {
  color: aliceblue;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr; 
  }

  .descripcion {
    text-align: left; 
  }
}

.custom-navbar {
  background-color: #11171f;
  color: #E5E5E5;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-left: 0;         
  padding-right: 0;        
  margin: 0;               
  width: 100vw;            
  border-radius: 0;        
}

.custom-navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-left: 20px;       
}

.custom-navbar .navbar-nav {
  width: 100%;
  justify-content: flex-end; 
}

.custom-navbar .nav-link {
  color: #ffffff;
  margin: 0 10px;
  padding: 8px 20px;       
}

.collapse.navbar-collapse .nav-item {
  padding-right: 0;        
}

.custom-navbar .nav-link:hover {
  border-radius: 4%;
  background-color: #1E2A38;
  color: #daecee; 
  border-bottom: 2px solid #80CED7;
  

}